:root {
    --primary-color: #6C0202;
    --second-color: #8C0303;
    --third-color: #A70400;
    --yellow-color: #F2B705;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.menu {
    background-image: linear-gradient(black, var(--primary-color));
    color: var(--yellow-color);
    height: 70px;
    box-shadow: 15px -15px 5px 20px rgba(0, 0, 0, 0.7);
}

.menu a {
    color: var(--yellow-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu h1 {
    margin: 10px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 2rem; /* 2rem = 20px + ou - */
    font-size: 17px;
    position: relative;
    margin-right: 100px;
}

.base-section {
    background-image: url("../img/espetinhosdiversos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0, 2);
    height: 700px;
    width: auto;
}

.intro-content {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    height: 700px;
    width: auto;
    text-align: center;
}

.intro-content h1 {
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 10%;
    text-align: center;
    z-index: 2;
    font-size: 50px;
    color: white;
    font-weight: bold;
    border: 1.5px solid white;
    padding: 20px;
    width: 80%;
    position: absolute;
}

.second-page {
    background-color: white;
}